
Django==3.1.5
#django-utils-six==2.0

git+https://gitlab.tudelft.nl/mheijink/django-suit.git

mysqlclient


django-debug-toolbar==3.1.1
whitenoise==5.2.0
uWSGI==2.0.18
Pillow==8.1.0
djangorestframework==3.12.2

SharePlum==0.5.1

xlrd==1.2.0
django-utils-six==2.0

django-auth-ldap==1.7.0
